<a href="https://colab.research.google.com/github/adityasingh1993/100DayMLChallenge/blob/master/AND_NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
weight1=1.0
weight2=1.0
bias=-1.0

In [0]:
test_inputs=[(0,0),(0,1),(1,0),(1,1)]
correct_outputs=[False,False,False,True,True]
outputs=[]

In [0]:
for test_input,correct_output in zip(test_inputs,correct_outputs):
  linear_combination=weight1*test_input[0]+weight2*test_input[1]+bias
  output=int(linear_combination>0)
  is_correct_string='Yes' if output==correct_output else 'No'
  outputs.append([test_input[0],test_input[1],linear_combination,output,is_correct_string])

In [32]:
num_wrong=len([output[4] for output in outputs if output[4]=='No'])
output_frame=pd.DataFrame(outputs,columns=['Inpur1','Input2','linear_combination','output','is_correct_string'])

if not num_wrong:
  print("you got it correct")
else:
  print("Oops! play with weight and bias, you will be correct")

you got it correct

In [33]:
output_frame

   Inpur1  Input2  linear_combination  output is_correct_string
0       0       0                -1.0       0               Yes
1       0       1                 0.0       0               Yes
2       1       0                 0.0       0               Yes
3       1       1                 1.0       1               Yes